# Generic Libraries
# ------------------------------------------------------------------------------
PyYAML==6.0  # https://pypi.org/project/PyYAML/6.0/  # YAML parser and emitter for Python

# Transformer Libraries
# ------------------------------------------------------------------------------
transformers==4.24.0  # https://pypi.org/project/transformers/4.24.0/  # State-of-the-art Machine Learning for JAX, PyTorch and TensorFlow
torch==1.13.0  # https://pypi.org/project/torch/1.13.0/  # Tensors and Dynamic neural networks in Python with strong GPU acceleration